#footer{
    /* background-image: url('../assets/img/footer-bg.png');
    background-size: cover;
    background-position: center; */
    background:linear-gradient(to top right ,#973489 ,rgb(0, 0, 0)10% 90%,#5f30ae );
}
#outlined-basic{
    border-image: linear-gradient( to right,#973489,#5f30ae );
    border-image-slice: 1;
    border-radius: 8px !;
    
}
#outlined-basic:focus{
    outline: 2px solid;
    outline-color: transparent;
    outline-image: linear-gradient(to right, #973489, #92688d) 1;
    border-image-slice: 1;
    border-radius: 10px !important;
    outline-style: solid;


}
